<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thinkableproject">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <permission
        android:name="my.package.name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splashlogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThinkableProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".VideoLineChart"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity android:name=".ninjadarts.ninjaStart" />
        <activity
            android:name=".WordMatching.VictoryPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WordMatching.TwoByTwoGrid"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WordMatching.TwoByThreeGrid"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WordMatching.TwoBySixGrid"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.example.SettingsPreference"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".IHaveToFly.GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WordMatching.TwoByFourGrid"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WordMatching.TwoByFiveGrid"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WordMatching.MainMenu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordMatching.KeysPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordMatching.EndGame"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".IHaveToFly.IHaveToFlyMainActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DragandDropPuzzle.PuzzleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DragandDropPuzzle.PuzzleMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".puzzle.PuzzleMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DragandDropPuzzle.GameOverPuzzle"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".puzzle.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".puzzle.GameActivity24"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".puzzle.GameActivity15"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IHaveToFly.GameOverActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".puzzle.GameActivity9"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".puzzle.ChooseDifficultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pianotiles.Main5Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".pianotiles.Main4Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".pianotiles.Main3Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".pianotiles.Main2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7941825006818251~2426148941" />

        <activity
            android:name=".AddsClass"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_activity_adds_class"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="com.google.android.gms.ads.AD_MANAGER_APP"
                android:value="true" />
        </activity> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".AdsMobClass"
            android:label="@string/title_activity_ads_mob_class" />
        <activity
            android:name=".MeditationMemory"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AdMobAddActuivity"
            android:label="@string/title_activity_ad_mob_add_actuivity" />
        <activity
            android:name=".MusicRelaxation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MusicMemory"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".VideoInterventionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".duckhunt.GameOver"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".duckhunt.DuckHuntMainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".duckhunt.StartGame"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".pianotiles.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ninjadarts.NinjaDartsMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GamesMemory"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ninjadarts.NinjaDartLineChart"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".spaceshooter.GameOver"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".spaceshooter.StartUp"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".spaceshooter.SpaceShooterMainActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MeditationLineChart"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Help" />
        <activity
            android:name=".ContactUs"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LineChartExample"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PlayVideo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Memory_popup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemoryExercise"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ColorPatternGame"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NotificationMessage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateEvent"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Concentration_Daily"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalenderAndNotification"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Downloads"
            android:label="My Downloads"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:parentActivityName=".Concentration_Daily" /> -->
        <activity
            android:name=".RelaxationExercise"
            android:label="Training Exercise"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PlayMeditation"
            android:parentActivityName=".MeditationExercise"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activity_BTLE_Services"
            android:parentActivityName=".Concentration_Daily"
            android:screenOrientation="portrait" />

        <service
            android:name=".Service_BTLE_GATT"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MyDownloads"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Connection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:label="UserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IsochronicTones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityK"
            android:exported="false"
            android:label="Main Activity"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:screenOrientation="portrait"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".RetrieveMapActivity"
            android:exported="false"
            android:label="@string/title_activity_retrieve_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BineuralAcivity"
            android:screenOrientation="portrait" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="@string/google_maps_key" /> -->
        <activity
            android:name=".MusicPlayer"
            android:parentActivityName=".Music"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".concentration_music"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar" />
        <activity
            android:name=".Notification1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:label="Profile"
            android:parentActivityName=".Setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserDetails"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RelaxationReportWhereamI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConcentrationReportWhereamI"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ConcentrationReportYearly"
            android:label="Concentration Yearly Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ConcentrationReportMonthly"
            android:label="ConcentrationMonthly Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ConcentrationReportWeekly"
            android:label="Concentration Weekly Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ConcentrationReportDaily"
            android:label="Concentration Daily Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar" -->
        <activity
            android:name=".MainActivity2"
            android:label="My Favourites"
            android:parentActivityName=".Profile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MeditationExercise"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Memory_Daily"
            android:label="THINKable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Memory_Weekly"
            android:label="THINKable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MemoryMonthly"
            android:label="THINKable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Memory_Yearly"
            android:label="THINKable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MemoryReportDaily"
            android:label="Memory Daily Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MemoryReportWeekly"
            android:label="Memory Weekly Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MemoryReportMonthly"
            android:label="Memory Monthly Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MemoryReportYearly"
            android:label="Memory Yearly Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MemoryWhereAmI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RelaxationReportYearly"
            android:exported="true"
            android:label="Relaxation Yearly Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserLocation"
            android:exported="true"
            android:parentActivityName=".Setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RelaxationReportDaily"
            android:exported="true"
            android:label="Relaxation Daily Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RelaxationReportWeekly"
            android:exported="true"
            android:label="Relaxation Weekly Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RelaxationReportMonthly"
            android:exported="true"
            android:label="Relaxation Monthly Report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Video"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Meditation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Relaxation_popup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Concentration_popup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calibration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Concentration_Yearly"
            android:label="THINKable"
            android:logo="@drawable/braingym_logo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Concentration_Monthly"
            android:label="THINKable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Concentration_Weekly"
            android:label="THINKable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Concentration_Daily"
            android:label="THINKable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".FavouriteActivity" />
        <activity
            android:name=".Calendar_Reminder"
            android:label="Calendar and Reminder"
            android:parentActivityName=".Profile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AboutApp"
            android:label="About App"
            android:parentActivityName=".Profile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserProfile1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Relaxation_Yearly"
            android:exported="true"
            android:label="THINkable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Relaxation_Monthly"
            android:exported="true"
            android:label="THINKable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Setting"
            android:exported="true"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".ui.login.UserProfile" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/title_activity_user_profile" /> -->
        <activity
            android:name=".Reports"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exercise"
            android:exported="true"
            android:label="Training Exercises"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Relaxation_Weekly"
            android:exported="true"
            android:label="THINKable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Relaxation_Daily"
            android:exported="true"
            android:label="THINkable"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Suggestions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreferencesSecPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LandingPage"
            android:label="@string/title_activity_landing_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:parentActivityName=".Setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SettingsPreference"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PushNotificationService"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Service_BTLE_GATT"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>